/*Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Gilroy"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/gilroylight.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff*/
       url("/fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Gilroy"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/gilroyextrabold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/opensans.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/opensanslight.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/opensanslight.woff") format("woff");
}

/* Цвета */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-dark-gray: #464646;
  --basic-gray: #7e7e7e;
  --basic-light-gray: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow: #f0c52e;
  --special-light-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;

  /*Есть в макете, но не указаны в палитре*/
  --special-gray: #f2f2f2;
  --special-medium-gray: #dcdcdc;
  --special-alternative-gray: #a6a6a6;
  --special-alternative-light-gray: #ebebeb;
  --special-ultra-gray: #d9d9d9;
  /*Альтернатива opacity*/
  --special-transparent-white: rgba(255, 255, 255, 0.6);
  --special-transparent-black: rgba(0, 0, 0, 0.3);
}

/* Глобальные классы*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Заголовок страницы*/
.page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.link {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

/*Кнопки*/

.btn {
  text-align: center;
  vertical-align: middle;
  border: none;
}

.btn-gradient {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, var(--special-yellow) 40%, var(--special-yellow) 60%, transparent 40%);
}

.btn-gradient:hover,
.btn-gradient:focus {
  background-image: linear-gradient(0deg, var(--special-yellow) 0%, var(--special-yellow) 100%);
}

.btn-gradient:active {
  color: var(--special-transparent-black);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Главное меню*/

.main-nav {
  background-color: var(--special-light-yellow);
}

/*Логотип в шапке*/
.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

/*Форма поиска*/

.search-input {
  border: none;
  background-color: transparent;
}

.search-input::placeholder {
  opacity: 0.3;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom: 2px solid var(--basic-black);
  outline: none;
}

.search-btn {
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  background-color: transparent;
}

.search-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-btn:active {
  color: var(--special-transparent-white);
  background-color: var(--basic-black);
}

/*Пользовательское меню*/
.user-nav-link {
  color: inherit;
}

.user-nav-link:hover {
  opacity: 0.6;
}

.user-nav-link:active {
  opacity: 0.3;
}

.user-nav-link-logout {
  opacity: 0.3;
}

/*Меню по сайту*/

.site-nav-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.submenu-list {
  background-color: var(--special-light-yellow);
}

.submenu-link {
  color: inherit;
}

.site-nav-link:hover,
.submenu-link:hover {
  opacity: 0.6;
}

.site-nav-link:active,
.submenu-link:active {
  opacity: 0.3;
}

/*Лучшие предложения*/

.slide {
  background-color: transparent;
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide-table {
  font-family: "Gilroy", "Arial", sans-serif;
}

.slide-table-title {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slide-table-content {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

/*Ассортимент*/

.category-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-link {
  color: inherit;
}

.category-link:hover {
  opacity: 0.3;
}

/*Условия работы*/

.service-container {
  background-color: var(--basic-light-gray);
}

.services-nav-active-link,
.services-nav-active-link:hover,
.services-nav-active-link:active {
  color: var(--special-light-yellow);
  background-image: none;
  background-color: var(--basic-black);
}

.service-content {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.content-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

/*Бренды*/
.brands-item {
  opacity: 0.2;
  filter: grayscale(100%);
}

.brands-item:hover {
  opacity: 1;
  filter: grayscale(0%);
}

/*Раздел информация*/
.info {
  line-height: 28px;
}

.about-us-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/*Каталог*/

.brands-item {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.breadcrumbs-link,
.breadcrumbs-link-active {
  color: inherit;
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

/*Сортировка*/
.sorting {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.sorting-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-link {
  color: inherit;
  opacity: 0.3;
}

.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active {
  opacity: 1;
}

.sorting-link-active,
.sorting-link-active:hover,
.sorting-link-active:active {
  opacity: 1;
}

.sorting-order-link {
  opacity: 0.2;
}

.sorting-order-link:hover {
  opacity: 0.4;
}

.sorting-order-link:active {
  opacity: 1;
}

.sorting-order-link-active,
.sorting-order-link-active:active {
  opacity: 1;
}

/*Фильтр*/

.filter {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.filter-header {
  background: var(--special-medium-gray);
}

.filter-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-group {
  border: none;
}

.filter-subtitle {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-count {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-input:hover + .filter-label {
  opacity: 0.6;
}

.filter-input:active + .filter-label {
  opacity: 1;
}

/*Карточки товаров*/

.product {
  color: var(--basic-black);
}

.product-link {
  color: inherit;
}

.product-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*Кнопка сравнить*/
.product-btn-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: inherit;

  background-color: transparent;
  opacity: 0.5;
}

.product-btn-compare:hover,
.product-btn:focus {
  opacity: 1;
}

.product-btn-compare:active {
  opacity: 0.2;
}

/*Пагинация*/

.pagination {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  background: var(--special-alternative-light-gray);
}

.pagination-prev,
.pagination-next {
  letter-spacing: 0.1em;
  color: inherit;
}

.pagination-prev:hover,
.pagination-next:hover {
  background: var(--special-ultra-gray);
}

.pagination-prev:active,
.pagination-next:active {
  color: var(--special-transparent-black);
  background: var(--special-ultra-gray);
}

.pagination-link {
  letter-spacing: 0.1em;
  color: inherit;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 0.6;
}

.pagination-link:active {
  opacity: 1;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: inherit;
  background: transparent;
  opacity: 1;
}

/*Футер*/

.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

/*Логотип*/
.main-footer-logo-img {
  fill: var(--special-yellow);
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

/*Пользовательское меню в футере*/
.footer-user-nav {
  color:var(--basic-white);
}

.footer-user-nav-link {
  color:inherit;
  opacity: 0.7;
}

.footer-user-nav-link:hover {
  opacity: 1;
}

.footer-user-nav-link:active {
  opacity: 0.3;
}

/*Навигация по страницам сайта*/

.footer-site-nav-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:var(--basic-white);
}

.footer-site-nav-link {
  color: inherit;
}

.footer-site-nav-link:hover {
  opacity: 0.6;
}

.footer-site-nav-link:active {
  opacity: 0.3;
}

/*Контакты*/
.footer-contact-link {
  color:inherit;
}

/*Социальные сети*/

.social-link {
  color: inherit;
  opacity: 0.3;
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

/*Логотип HTML Academy*/
.footer-logo-academy:hover {
  opacity: 0.6;
}

.footer-logo-academy:active {
  opacity: 0.3;
}

/*Модальное окно*/

.modal {
  background-color: var(--basic-white);
}

/*Форма обратной связи*/
.feedback-label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.feedback-name,
.feedback-mail,
.feedback-message {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
  border: none;
  background-color: var(--special-gray);
}

.feedback-name::placeholder,
.feedback-mail::placeholder,
.feedback-message::placeholder {
  opacity: 0.4;
}

.feedback-name:hover,
.feedback-mail:hover,
.feedback-message:hover {
  background-color: var(--basic-light-gray);
}

.feedback-name:focus,
.feedback-mail:focus,
.feedback-message:focus {
  background: transparent;
  outline: 2px solid var(--special-light-yellow);
}

.feedback-name:invalid,
.feedback-mail:invalid,
.feedback-message:invalid {
  background-color: var(--special);
  outline: none;
}
